<div class="contaier">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h1>Postcard Editor</h1>
		</div>
		<div class="panel-body">
			<card settings="settings"></card>
		</div>
		<div class="panel-footer">
			<a href class="btn btn-primary" ng-click="zoomIn()">Zoom in</a>
			<a href class="btn btn-primary" ng-click="zoomOut()">Zoom Out</a>
			<a href class="btn btn-primary" ng-click="rotate()">Rotate</a>
			<a href class="btn btn-primary" ng-click="flip()">Flip</a>
			<a href class="btn btn-primary">Add text block</a>
		</div>
		<code>
			{{settings}}
		</code>
	</div>
</div>